.mid-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* 달력 */

.calendar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 70px;

    margin-bottom: 10px;

    border: 1px solid lightgray;
    border-radius: 7px;
}
.calendar > table, tr, th, td {
    padding: 2px 5px;

    color: rgb(75, 75, 75);

    text-align: center;
    font-family: 'GmarketSansMedium';
    font-size: 14px;
}
.calendar table {
    border-collapse: collapse;
}
.calendar th {
    padding: 2px 15px 2px 0;
    color: black;

    border-right: 1px solid lightgray;
    
    font-family: 'GmarketSansBold';
}

.first {
    padding: 2px 5px 2px 15px;
}

.red {
    color: orangered;
}
.blue {
    color: slateblue;
}
.white {
    color: white;
}



/* 다이어리 */

.diary_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 430px;

    padding: 10px;

    overflow-y: auto;

    border: 1px solid lightgray;
    border-radius: 7px;
}

.diary_post {
    width: 100%;

    margin-bottom: 10px;
    
    background-color: whitesmoke;

    border: 1px solid lightgray;
    border-radius: 7px;
}

.diary_date, .diary_time {
    display: inline-block;

    padding: 10px;

    font-family: 'GmarketSansMedium';
}

.diary_time {
    color: gray;
}
.diary_time > i {
    font-size: small;
}

.diary_content {
    width: 100%;

    padding: 10px;

    background-color: white;
}

.secret_button {
    padding: 15px 20px;

    color: white;
    background-color: white;

    border-radius: 5px;

    font-family: 'GmarketSansMedium';
}
.secret_button:hover {
    transition: 800ms ease all;

    background-color: gray;
}
.secret_button:active {
    background-color: black;
}
.secret_button i {
    font-size: small;
}
.secret_button i:nth-child(1) {
    margin-right: 10px;
}
.secret_button i:nth-child(2) {
    margin-left: 10px;
}

#secret_box {
    display: none;
}