.mid-bottom {
    overflow: hidden;
}



/* 최신 게시물, 전체 게시판별 게시물 수 */

.update {
    margin: 20px;
}
.update > div:first-child {
    color: rgb(90, 90, 90);

    font-size: 15pt;
    font-weight: bold;
}
.update_tables {
    display: flex;
    flex-direction: row;
    
    margin: 7px 0;
    padding: 5px 0;

    border-top: 1px solid lightgray;
}

.update_content {
    width: 50%;

    padding: 1px;
}
.update_content > tr, td {
    padding: 5px;
}

.posts {
    width: 55%;
}

.category_update {
    padding: 2px 5px;

    font-family: 'GmarketSansMedium';
}

.posts_num {
    display: inline-block;

    padding: 0 5px;

    color: gray;
}



/* 미니룸 */

.miniroom {
    margin: 40px 20px 20px;
}
.miniroom > div:first-child {
    color: rgb(90, 90, 90);

    font-size: 15pt;
    font-weight: bold;
}
.miniroom_table {
    display: flex;
    flex-direction: row;
    
    margin: 7px 0;
    padding: 5px 0;

    border-top: 1px solid lightgray;
}

.miniroom img {
    width: 100%;
}

hr {
    margin: 5px 0 13px 0;
    padding: 0;
}