/* 전체 배경 */

body {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background-color: grey;
    background-image: url("./images/pattern.png");
    background-size: 100px;
}

.bookcover {
    position: relative;

    width: 960px;
    height: 660px;

    margin: 100px auto;

    background-color: black;

    border: 1px solid gray;
    border-radius: 20px;
}

.bookdot {
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;

    background-color: black;

    border:2px dashed whitesmoke;
    border-radius: 15px;
}

.page {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    
    display: flex;

    padding: 20px 10px;

    background-color: whitesmoke;

    border-radius: 12px;
}



/* 왼쪽 - 프로필 */

.left {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 210px;

    margin: 0 10px;
}
.left-top {
    height: 20px;
    
    padding: 3px 10px 0;
}
.left-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    margin: 7px 10px 0;
    
    background-color: white;

    border: 1px solid lightgray;
    border-radius: 10px;
}
.left-bottom > img {
    width: 150px;
    height: 150px;

    margin: 30px 0 30px;

    border-radius: 10px;
}

.visit_num {
    font-family: 'GmarketSansMedium';
    font-size: 8pt;
    font-weight: bold;
    align-items: baseline;
}

.today {
    color: red;

    font-family: 'GmarketSansMedium';
    font-size: 8pt;
    font-weight: bold;
    align-items: baseline;
}

.info {
    width: 150px;
    height: 150px;
}
.info > div:nth-child(1) {
    display: inline-block;

    padding: 0 0 5px;

    font-size: larger;
    font-weight: bold;
}
.info > div:nth-child(2) {
    display: inline-block;
    
    margin: 0 5px;

    color: gray;
}
.info > div:nth-child(3) {
    margin-top: 5px;

    line-height: 1.4;
}

.form-select {
    margin-top: 108px;
}



/* 중앙 - 본문 */

.mid {
    display: flex;
    flex-direction: column;

    width: 550px;
    height: 565px;

    margin: 0 0 0 10px;
}
.mid-top {
    display: flex;
    flex-direction: row;

    height: 20px;

    margin-bottom: 10px;
    padding: 0 10px 0;
}
.mid-bottom {
    width: 100%;
    height: 100%;

    padding: 10px;

    overflow: auto;

    background-color: white;

    border: 1px solid lightgray;
    border-radius: 10px;
}

.title {
    width: 50%;
    
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bold;
}
.url {
    width: 50%;
    height: 10px;

    margin-top: 3px;
    
    text-align: right;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 10pt;
    font-weight: bold;
}



/* 오른쪽 - 메뉴 버튼 */

.right {
    display: flex;
    flex-direction: column;
    
    width: 90px;

    margin: 0 10px 0 0;
    padding-top: 50px;
}

.menu {
    margin: 7px 0;
    padding: 7px;

    color: white;
    background-color: black;

    border-radius: 0 5px 5px 0;

    font-family: 'GmarketSansMedium';
}
.menu:hover {
    background-color: grey;
}
.menu:active {
    background-color: rgb(214, 214, 214);
    color: black;
}



/* 게시판 종류 아이콘 */

.category {
    padding: 2px 5px;

    border-radius: 5px;

    font-family: 'GmarketSansMedium';
}

.diaries {
    color: white;
    background-color: olivedrab;
}

.photos {
    color: white;
    background-color: orangered;
}
.boards {
    color: white;
    background-color: slateblue;
}

.visits {
    color: white;
    background-color: orange;
}