.conatainer_photobook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 430px;

    padding: 10px;

    overflow-y: auto;

    border: 1px solid lightgray;
    border-radius: 7px;
}

.post_photobook {
    width: 100%;

    margin-bottom: 10px;
    
    background-color: white;

    border: 1px solid lightgray;
    border-radius: 7px;
}
.post_photobook img {
    width: 90%;

    margin: 10px 0;
    padding: 0;
}

.post_title {
    padding: 10px;
    
    background-color: whitesmoke;
}
.post_title span {
    font-family: 'GmarketSansMedium';
}

.date {
    margin-left: 10px;

    font-size: small;
}

.post_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
}

.post_text {
    width: 95%;
}